exclude docs
recursive-exclude docs *
exclude test
recursive-exclude test *

exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude .style.yapf
exclude codecov.yml
exclude release.sh
exclude tox.ini

# Licenses
include LICENSE
include GPL
include MIT

include README.rst
include CHANGELOG.md

include examples
recursive-include examples *
